{% extends "base.html" %}

{% block title %}Chat | LingoLizard{% endblock %}

{% block content %}
<h1 class="text-center mb-4">LingoLizard Chat</h1>

<div id="chatBox" class="chat-box"></div>

<div id="typingIndicator" class="text-white fst-italic mb-2" style="display: none;">
  Bot is typing<span id="dots">.</span>
</div>

<div class="input-group">
  <input type="text" id="userInput" class="form-control" placeholder="Type your message here...">
  <button class="btn btn-primary" onclick="sendMessage()" id="sendButton">Send</button>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/scripts/chat.js"></script>
{% endblock %}
